
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

/.docker/logs/nginx/*
!/.docker/logs/nginx/.gitkeep

/.docker/database/*
!/.docker/database/.gitkeep
